### Corey schafer--pandas(2) Dataframe and series

In [33]:
people = {
    'first':['ram','lex','sita'],
    'last':['a','b','c'],
    'email':['abc','def','ghi']  
    
}

In [34]:
people['email']

['abc', 'def', 'ghi']

In [35]:
import pandas as pd

In [36]:
df = pd.DataFrame(people)

In [37]:
df

  first last email
0   ram    a   abc
1   lex    b   def
2  sita    c   ghi

In [38]:
type(df['email'])

pandas.core.series.Series

In [39]:
df['email']

0    abc
1    def
2    ghi
Name: email, dtype: object

In [40]:
df.email

0    abc
1    def
2    ghi
Name: email, dtype: object

#### taking multiple columns

In [41]:
df[['last','email']]

  last email
0    a   abc
1    b   def
2    c   ghi

In [42]:
type(df[['last','email']])

pandas.core.frame.DataFrame

In [43]:
df.iloc[[0,1]]

  first last email
0   ram    a   abc
1   lex    b   def

### Corey schafer--pandas(3) Indexes

In [44]:
df

  first last email
0   ram    a   abc
1   lex    b   def
2  sita    c   ghi

In [45]:
df.set_index('email',inplace=True)

In [46]:
df

      first last
email
abc     ram    a
def     lex    b
ghi    sita    c

In [47]:
df.index

Index(['abc', 'def', 'ghi'], dtype='object', name='email')

In [48]:
df

      first last
email
abc     ram    a
def     lex    b
ghi    sita    c

In [49]:
df.reset_index(inplace=True)

In [50]:
df

  email first last
0   abc   ram    a
1   def   lex    b
2   ghi  sita    c

In [51]:
df.loc[1]

email    def
first    lex
last       b
Name: 1, dtype: object

In [55]:
df['last']

0    a
1    b
2    c
Name: last, dtype: object